/* have the h1s and the buttons be the same font */
h1 {
    font-family: Arial, Helvetica, sans-serif;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
}
h3 {
    color: grey;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

hr {
    width: 900px;
}
.generate {
    font-family: Arial, Helvetica, sans-serif;
    background: crimson;
    border: crimson;
    border-radius: 20px;
    color: #ffffff;
    width: 200px;
    height: 40px;
    font-size: larger;
}
.copy {
    font-family: Arial, Helvetica, sans-serif;
    background: blue;
    border: blue;
    border-radius: 20px;
    color: #ffffff;
    width: 200px;
    height: 40px;
    font-size: larger;
    float: right;
}
.container {
    text-align: center;
    margin: auto;
    width: 960px;
    background: #f9fbfd;
}
.container-all {
    width: 900px;
    text-align: left;
}
.password-container {
    border: grey;
    border-width: 2px;
    border-style: dashed;
    width: 60%;
    height: 150px;
    border-radius: 10px;
    align-content: center;
    margin-left: 200px;
    text-align: center;
}